/* ABOUT SECTION */
body {
    overflow-x: hidden;
}

#about {
    /* position: relative; */
    margin-top: 7rem;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.section__text__p {
    text-align: center;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    /* right: -5rem; */
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    /* height: 400px;
    width: 400px; */
    margin: auto 0;
    /* border: 1px solid red; */
    border-radius: 5%;
    /* background-color: rgb(231, 231, 231); */
    align-items: center;
    justify-content: center;
    /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); */
}

.section__pic-container img:hover {
    box-shadow: none;
    transition: 0.4s;
}

.section__pic-container img {
    border-radius: 8px;
    width: 300px;
    height: auto;
    margin: auto;
    box-shadow: 10px 10px 20px rgba(172, 172, 172, 0.5);
}

@media screen and (max-width: 1200px) {

    .section-container {
        display: block;
    }


    .arrow {
        display: none;
    }

    section,
    .section-container {
        height: fit-content;
    }



    .section__pic-container {
        /* border: 1px solid rgb(209, 27, 27); */
        height: 100%;
        width: 100%;
        text-align: center;
        /* margin: 0 auto 2rem; */
        margin: auto;
        margin-bottom: 1rem;
    }

    .section__pic-container img {
        width: 245px;
        height: auto;
    }

    .about-containers {
        margin-top: 0;
    }

    #about {
        /* border: 2px solid red; */
        margin-top: 0px;
    }
}

.about_div {
    margin-top: 0px;
    /* border: 2px solid red; */
}

#about {
    /* border: 2px solid red; */
    margin-top: 0px;
}

.text-container ol {
    list-style: none;
}

@media screen and (max-width: 600px) {
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;

    }

}

@media only screen and (max-width: 480px) {
    .text-container {
        text-align: start;
        font-size: 0.8rem;
        margin-top: 0px;
    }

    .details-container p {
        justify-content: start;
        text-align: left;
    }

}

/* profile pic about me */
.hover-container {
    perspective: 1000px;
    /* Perspective for 3D effect */
}

.hover-image {
    width: 300px;
    height: 300px;
    position: relative;
    transition: transform 0.6s ease-in;
    transform-style: preserve-3d;
    cursor: pointer;
}

.hover-image:hover {
    transform: rotateY(180deg);
}

.project-img {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* display: flex; */
    justify-content: start;
    align-items: center;
    text-align: start;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    padding: 0.5rem;
    color: rgb(0, 109, 0);
}
.content p{
    font-size: 16px;
}
.content p h3{
text-align: center;
}