/* EXPERIENCE SECTION */

#experience {
    /* position: relative; */
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
    color: rgba(241, 142, 142, 0.84);
}

article .icon {
    cursor: default;
}

/* src/App.css */

.shapere {
    margin: auto;
    /* background-color: #7f7f7f; */
    /* border-radius: 50%; */
    /* min-height: 100vh; */
    /* height: 100%;
    width: 100%; */
    display: block;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    align-items: center;
    /* color: white; */
    /* padding: 20px; */
}

.shapere h3 {
    text-align: center;
}

.canvas-container canvas {
    /* width: 2rem; */
    height: 100%;
    display: block;
    cursor: pointer;
}